body {
  padding: 0;
  margin: 0;
  background-color: #161b22;
  color: ghostwhite;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
/*HEADER*/
header {
  background-color: #272f3b;
  display: flex;
  justify-content: space-around;
  padding: 0.2em;
  letter-spacing: 1px;
}
.logo img {
  width: 20%;
  margin-left: 5em;
}

.header_option {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}
.space {
  width: 20%;
}
/*MAIN INFO*/
.name_info_container {
  display: flex;
  justify-content: center;
}
.name_info {
  border: 2px solid #646464;
  display: flex;
  flex-direction: column;
  background-color: #272f3b;
  margin: 2em;
  width: 50%;
  padding: 1em;
  border-radius: 1em;
}
.name_info h3 {
  display: flex;
  justify-content: center;
  margin: 5px;
  font-size: 30px;
  color: #37cdb6;
}
.name_info h4 {
  display: flex;
  justify-content: center;
  margin: 5px;
  font-size: 30px;
  font-weight: bolder;
}
.name_info p {
  display: flex;
  justify-content: center;
  font-size: 18px;
  margin: 8px;
}
/*ABOUT*/
.about_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 1em;
  margin-top: 0.2em;
}
.about-text {
  border: 2px solid#646464;
  padding: 0.5em;
  background-color: #272f3b;
  border-radius: 1em;
}
.about-text h3 {
  color: #37cdb6;
  font-size: 28px;
}
.about-img {
  margin: 2em;
  width: 30em;
}
.about-img img {
  max-width: 100%;
  height: auto;
  border-radius: 1em;
}
/*PORTFOLIO*/
.portfolio h3 {
  font-size: 28px;
  color: #37cdb6;
}
.portfolio_projects {
  display: flex;
  justify-content: space-around;
  padding: 1em;
}
.chatbot_link {
  position: relative;
}
.chatbot_link img {
  display: block;
  max-width: 100%;
  height: auto;
}
.overlay_chatbot {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #b0c4ca;
  cursor: pointer;
}
.chatbot_link:hover .overlay_chatbot {
  opacity: 0.9;
}
.text_chatbot {
  color: rgb(5, 5, 5);
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.salesData {
  position: relative;
  width: 20em;
}
.salesData img {
  display: block;
  max-width: 100%;
  height: auto;
}
.overlay_salesData {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #b0c4ca;
  cursor: pointer;
}
.salesData:hover .overlay_salesData {
  opacity: 0.9;
}
.text_salesData {
  color: rgb(5, 5, 5);
  font-size: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/*COTACT*/
.contact {
  font-size: 28px;
  color: #37cdb6;
}
.Social_container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.github_icon img {
  background-color: #cfdcda;
  width: 50px;
  height: 50px;
  padding: 0.8em;
  border-radius: 0.5em;
}
.linkedln_icon {
  background-color: #cfdcda;
  width: 50px;
  height: 50px;
  padding: 0.8em;
  border-radius: 0.5em;
}

/*---------------------------------------------------------*/
a {
  text-decoration: none;
  color: aliceblue;
}
/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #7b7878;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #37cdb6;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #37e0c7;
}
